body {
  align-items: center;
  background-color: rgb(29, 28, 28);
  color: white;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 80vh;
  width: 90vw;
}

.panel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  flex: 0.5;
  margin: 5px;
  position: relative;
  transition: all 700ms ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  bottom: 10px;
  font-size: 1.5rem;
  left: 10px;
  margin: 0;
  opacity: 0;
  position: absolute;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(1),
  .panel:nth-of-type(2) {
    display: none;
  }
}
